@font-face {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: white;
}

.page-header {
  padding-top: 40px;
  background-color: #FFE17F;
}

.page-header-logo {
  padding-bottom: 30px;
}

.header-container {
  margin: 0 auto;
  width: 1160px;
}

.slider-container {
  margin: 0 auto;
  width: 1160px;
}

.category-container {
  margin: 0 auto;
  width: 1160px;
}

.benefits-container {
  margin: 0 auto;
  width: 1160px;
  background-color: #F0F0F0;
}

.delivery-container {
  margin: 0 auto;
  width: 1160px;
}

.main-container {
  flex-grow: 1;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin-left: 26px;
}

.main-navigation-item {
  margin-left: 45px;
}

.navigation-link {
  text-decoration: none;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.navigation-user-list {
  display: flex;
  list-style-type: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  margin: 0;
  padding: 0;
}

.user-navigation-link {
  text-decoration: none;
  padding-left: 45px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;
  flex-direction: column;
}

.slider-item {
  display: grid;
  gap: 40px;
  grid-template-columns: 560px 560px;

}

.slider-item-1 {

}

.slider-pagination {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  padding-right: 20px;
}

.benefite-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.benefite-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.category-list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  gap: 40px;
  margin: o;
  padding: 0;
}

.tabs {
  display: flex;
}

.tabs-items {
  display: flex;
  flex-direction: column;
}

.tabs-body {
  margin: 0;
  padding: 0;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.index-columns {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.appointment-title-appointment-discription {
  display: flex;
  justify-content: space-between;
}

.appointment-form-lable-discription {
  display: flex;
  justify-content: space-between;
}

.gallery-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}

.gallery-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.benefite-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.benefite-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.catalog-images {
  background-color: #FFE17F;
}

.category-list {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
}

.category-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  list-style-type: none;
}

.category-link {
  text-decoration: none;
  color: #000000;
}

.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-left: 116px;
  margin-right: 203px;
  margin-bottom: 34px;
}

.discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-left: 116px;
  margin-right: 203px;
}

.delivery {
  margin: o;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
}

.button-delivery {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.delivery-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.about-headline {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-list {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000
}

.subscription-form {
  margin: 0 auto;
  width: 1160px;
}

.contacts-headline {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.address-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.address-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.phone-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.work-time-headline {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.work-time-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.appointment-form-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.appointment-form-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.lable-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: o;
}

.footer-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.page-footer {
  background-color: #444444;
}

.page-footer-conteiner {
  display: grid;
  grid-template-columns: 239px 444px 175px;
  gap: 120px;
  margin: 0 auto;
  width: 1160px;
}

.navigation-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
}

.footer-menu-list {
  display: flex;
  padding-left: 35px;
}

.footer-social-list {
  display: flex;
}

.footer-navigation-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: o;
}

.footer-contacts-phone {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contacts-phone-contacts-logo {
  margin: 0;
  padding: 0;
}

.address-footer-discription {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}



.page-footer {
  background: #444444;
}

.footer-adress {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.inner-header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
